# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Hans Piña
#	email = dev@osx.local
[user]
	email = hansfpc@outlook.com
	name = hansfpc
[alias]
	superlog = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
[core]
	editor = nano
